# Tarea 1 Bases de Datos 2024-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Daniela Aguilar - 202111060-7
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [1]:
! pip3 install ipython-sql

! pip3 install psycopg2

Requirement already satisfied: ipython-sql in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: ipython-genutils in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: jedi>=0.16 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: colorama in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: exceptiongroup in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (1.2.1)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: stack-data in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: decorator in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: wcwidth in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: pure-eval in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\ferna\appdata\local\programs\python\python310\lib\site-packages (2.9.4)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [2]:
import random
from datetime import datetime, timedelta

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Quintero@localhost:5432/tareaDB

env: DATABASE_URL=postgresql://postgres:Quintero@localhost:5432/tareaDB

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
conn = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tareaDB',
   password="Quintero"
)
print(conn)

<connection object at 0x000002192D42ABD0; dsn: 'user=postgres password=xxx dbname=tareaDB host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Director"

In [5]:
%%sql

CREATE TABLE Director(
    id_director INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
);

Done.

[]

### Tabla "Actor"

In [6]:
%%sql

CREATE TABLE Actor(
    id_actor INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    edad INT NOT NULL
);

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

### Tabla "Pelicula"

In [7]:
%%sql

CREATE TABLE Pelicula(
    id_pelicula INT GENERATED ALWAYS AS IDENTITY,
    id_director INT,
    nombre VARCHAR(45) NOT NULL,
    genero VARCHAR(45) NOT NULL,
    duracion INT NOT NULL,
    fecha_publicacion DATE NOT NULL,
    PRIMARY KEY (id_pelicula, id_director),
    FOREIGN KEY (id_director) REFERENCES Director(id_director),
    UNIQUE(id_pelicula)
);

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

### Tabla "actor_participa_en_pelicula"

In [8]:
%%sql
CREATE TABLE actor_participa_en_pelicula(
    id_actor INT,
    id_pelicula INT,
    PRIMARY KEY (id_actor, id_pelicula),
    FOREIGN KEY (id_actor) REFERENCES Actor (id_actor),
    FOREIGN KEY (id_pelicula) REFERENCES Pelicula (id_pelicula)
);

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

### Tabla  "Premio_mejor_director"

In [9]:
%%sql

CREATE TABLE premio_mejor_director(
    id_premio INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_director INT,
    anio INT NOT NULL,
    FOREIGN KEY (id_director) REFERENCES Director(id_director)
)

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

### Tabla  "Premio_mejor_actor"

In [10]:
%%sql

CREATE TABLE premio_mejor_actor(
    id_premio INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_actor INT,
    anio INT NOT NULL,
    FOREIGN KEY (id_actor) REFERENCES Actor(id_actor)
)

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

### Tabla  "Premio_mejor_pelicula"

In [11]:
%%sql

CREATE TABLE premio_mejor_pelicula(
    id_premio INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
    id_pelicula INT,
    anio INT NOT NULL,
    FOREIGN KEY (id_pelicula) REFERENCES Pelicula(id_pelicula)
)

 * postgresql://postgres:***@localhost:5432/tareaDB
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

In [12]:
import random
from datetime import date
#Prefijos y sufijos para crear nombres de peliculas aleatoriamente
prefijos = ["El misterio de", "El viaje de", "Las aventuras de", "La historia de", "El secreto de", "La leyenda de", "La búsqueda de", "El regreso de", "El tesoro de", "La odisea de", "La misión de", "La conquista de", "La travesía de", "El destino de", "El despertar de", "El último viaje de", "La venganza de", "El renacimiento de", "La rebelión de", "El vuelo de", "El descubrimiento de", "La sombra de", "La redención de", "El ritual de", "La batalla de", "El hechizo de", "El pacto de", "La profecía de", "El laberinto de", "El prisionero de", "La llegada de", "El amanecer de", "La fortuna de", "El enigma de", "La invasión de", "El resurgimiento de", "La metamorfosis de", "El eclipse de", "La danza de", "La canción de", "El lamento de", "La trampa de", "La travesura de", "El tesoro escondido de", "El vuelo mágico de", "El canto de sirena de", "El bosque encantado de", "La maldición de", "La leyenda perdida de", "La tormenta de", "El camino hacia", "El viajero de", "El guardián de", "La cripta de", "El espejismo de", "El secreto oscuro de", "La resurrección de", "La danza macabra de", "La fuga de", "La estrella fugaz de", "El grito de", "El castillo de", "La travesía sin retorno de", "La estirpe de", "La llave de", "El cuento de hadas de", "El príncipe de", "La doncella de", "El arco iris de", "La fuente de", "El refugio de", "La senda de", "La búsqueda del tesoro de", "El caballero de", "La escalada de", "La maldición del vampiro de", "La travesía del océano de"]
sufijos = ["el león", "la bailarina", "el sapo", "la estrella", "el mago", "la princesa", "el guerrero", "la criatura", "el explorador", "la bruja", "la montaña", "la isla", "el dragón", "la cueva", "el lobo", "la reina", "el rey", "la espada", "el castillo", "la flor", "la selva", "el tesoro", "la nube", "el unicornio", "la sirena", "el volcán", "la neblina", "la cascada", "el árbol", "la ciudad", "el río", "la tormenta", "la luna", "el sol", "la estrella fugaz", "el camino", "la sombra", "el laberinto", "la ola", "la caverna", "el mar", "el ángel", "la espada mágica", "el destino", "el faro", "el puente", "el horizonte", "el valle", "el puente", "la muralla", "el bosque", "la gruta", "la corona", "la aldea", "la batalla", "la noche", "el amanecer", "el atardecer", "el sueño", "la pesadilla", "el héroe", "la heroína", "la aventura", "el misterio", "la magia", "la leyenda", "la profecía", "el secreto", "el desafío", "la trampa", "la mariposa", "el jardín", "la tormenta", "la montaña", "el río", "el rincón", "el guardián", "el hechizo", "la misión", "la expedición", "la caza", "el trono", "la batalla", "la aventura", "el legado", "el enigma", "la clave", "el guardián", "el viajero", "la cripta", "el laberinto", "el abismo", "el muro", "la senda", "el laberinto", "la bruma", "la travesía", "el vuelo", "la sirena", "el hechicero", "la escuela", "la academia", "la sombra", "la estrella", "el ángel", "la gárgola", "la profecía", "la puerta", "la guerra", "el pacto", "la ley", "el viaje", "la huida", "la fortuna", "la prisión", "la cárcel", "el lamento", "la sonrisa", "el susurro", "el grito", "la fuga", "el monstruo", "la bestia", "la maraña", "el sueño", "la pesadilla", "la verdad", "el mito", "el océano", "la estrella", "el fuego", "la tierra", "el cielo", "la oscuridad", "la luz", "el caos", "la esperanza", "la promesa", "la traición", "el destino", "la salvación", "la perdición", "la soledad", "la compañía", "la amistad", "el amor", "la pasión", "la venganza", "el perdón", "el renacer", "el adiós", "la bienvenida", "la despedida", "el encuentro", "la desgracia", "la fortuna", "la guerra", "la paz", "la caída", "el renacimiento", "la resistencia", "el sacrificio", "la alianza", "el viaje", "el descubrimiento", "la revelación", "la esperanza", "la batalla", "el peligro", "la aventura", "la magia", "la pesadilla", "el misterio", "la leyenda", "la guerra", "el amor", "la traición", "la redención", "la libertad", "la prisión", "la oscuridad", "la luz", "la corrupción"]
#Nombres y apellidos para crear nombres de peliculas aleatoriamente
nombres = ["Akira", "Alessandro", "Chen", "Darius", "Emiko", "Fatemeh", "Gustavo", "Hiroko", "Isa", "Jin", "Katarina", "Lakshmi", "Mikhail", "Nina", "Omar", "Pilar", "Qiu", "Rashid", "Sakura", "Tatiana", "Umar", "Valentina", "Wang", "Xavier", "Yasmin", "Zafar", "Aarav", "Beatriz", "Chidike", "Darya", "Elif", "Fadhila", "Giovanni", "Hanako", "Ilya", "Jasmin", "Khaled", "Leticia", "Mehmet", "Nadia", "Orhan", "Parvati", "Quintus", "Rania", "Salim", "Theresa", "Ursula", "Vivek", "Wilhelmina", "Xin", "Yusef", "Zoya", "Abdullah", "Bianca", "Chiyoko", "Dmitri", "Elena", "Fabiana", "Genghis", "Han", "Irina", "Javier", "Kamala", "Leonardo", "Mina", "Natalia", "Oscar", "Patricia", "Quentin", "Rosa", "Samir", "Tatjana", "Umberto", "Valeria", "Wan", "Ximena", "Yuri", "Zara"]
apellidos = ["Abadi", "Bianchi", "Cruz", "Dutta", "Etxebarria", "Ferreira", "Gao", "Hernandez", "Ivanov", "Janssen", "Kawaguchi", "Lopez", "Montenegro", "Nguyen", "Olivares", "Petrov", "Qian", "Rodriguez", "Santos", "Tan", "Ueno", "Vargas", "Wu", "Xia", "Yilmaz", "Zhang", "Almeida", "Borges", "Carvalho", "Diniz", "Esteves", "Fernandes", "Gomes", "Henriquez", "Inácio", "Joaquim", "Lima", "Mendes", "Nogueira", "Oliveira", "Pereira", "Quintana", "Ramos", "Santana", "Teixeira", "Uchoa", "Vieira", "Xavier", "Yamamoto", "Zambrano", "Alvarez", "Barros", "Correia", "Duarte", "Estevez", "Figueiredo", "Goncalves", "Hidalgo", "Iglesias", "Jimenez", "Kumar", "Lopes", "Martinez", "Nunes", "Ortega", "Pacheco", "Queiroz", "Rocha", "Sousa", "Teles", "Urbina", "Velez", "Watanabe", "Xu", "Yan", "Zapata"]
# Definir el rango de fechas
fecha_inicial = datetime(1960, 1, 1)
fecha_final = datetime(2023, 12, 31)

# Calcular la diferencia entre las fechas inicial y final
diferencia = fecha_final - fecha_inicial

# Generar una fecha aleatoria dentro del rango
fecha_aleatoria = fecha_inicial + timedelta(days=random.randint(0, diferencia.days))

# Convertir la fecha al formato SQL DATE (YYYY-MM-DD)
fecha_sql = fecha_aleatoria.strftime('%Y-%m-%d')

cursor = conn.cursor()

premios_info = {}
directores_ids = []
for _ in range(200):
    nombre = random.choice(nombres) + " " + random.choice(apellidos)
    edad = random.randint(30,90)
    cursor.execute("INSERT INTO director (nombre, edad) VALUES (%s, %s) RETURNING id_director", (nombre, edad))
    id_director = cursor.fetchone()[0]
    directores_ids.append(id_director)
    
actores_ids = []
for _ in range(200):
    nombre = random.choice(nombres) + " " + random.choice(apellidos)
    edad = random.randint(15,70) 
    cursor.execute("INSERT INTO actor (nombre, edad) VALUES (%s, %s) RETURNING id_actor", (nombre, edad))
    id_actor = cursor.fetchone()[0]
    actores_ids.append(id_actor)

peliculas_ids = []
for _ in range(300):
    director_pelicula = random.choice(directores_ids)
    nombre = random.choice(prefijos) + " " + random.choice(sufijos)
    genero = random.choice(["Acción", "Aventura", "Animación", "Comedia", "Documental", "Drama", "Fantasía", "Terror", "Ciencia ficción", "Musical", "Misterio", "Romance", "Suspense", "Western"])
    duracion = random.randint(70,150)
    fecha_aleatoria = fecha_inicial + timedelta(days=random.randint(0, diferencia.days))
    # Convertir la fecha al formato SQL DATE (YYYY-MM-DD)
    fecha_sql = fecha_aleatoria.strftime('%Y-%m-%d')
    cursor.execute("INSERT INTO pelicula (id_director, nombre, genero, duracion, fecha_publicacion) VALUES (%s,%s,%s,%s,%s) RETURNING id_pelicula",(director_pelicula,nombre,genero,duracion,fecha_sql))
    id_pelicula = cursor.fetchone()[0]
    peliculas_ids.append(id_pelicula)
    if id_pelicula not in premios_info:
        premios_info[id_pelicula] = {}
        premios_info[id_pelicula]["año"] = fecha_aleatoria.year
        premios_info[id_pelicula]["director"] = director_pelicula
        premios_info[id_pelicula]["genero"] = genero
        premios_info[id_pelicula]["cast"] = []
        premios_info[id_pelicula]["mejor pelicula"] = "no"
    
lista_pelicula_actor = []
peliculas_actores = {}
for _ in range(500):
    peliculaID = random.choice(peliculas_ids)
    actorID = random.choice(actores_ids)
    if not (peliculaID, actorID) in lista_pelicula_actor:
        cursor.execute("INSERT INTO actor_participa_en_pelicula (id_pelicula, id_actor) VALUES (%s,%s)",(peliculaID,actorID))
        lista_pelicula_actor.append((peliculaID,actorID))
    else:
        continue


for pelicula, actor in lista_pelicula_actor:
    if pelicula in premios_info:
        premios_info[pelicula]["cast"].append(actor)

print(premios_info)
for _ in range(100):
    pelicula_al_azar = random.randint(1,300)
    tipo_de_premio = ["mejor pelicula", "mejor actor", "mejor director"]
    eleccion_premio = random.choice(tipo_de_premio)
    if eleccion_premio == "mejor director":
        if premios_info[pelicula_al_azar]["director"] != "elegido":
            director = premios_info[pelicula_al_azar]["director"]
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_director (id_director, anio) VALUES (%s,%s)",(director, año))
            premios_info[pelicula_al_azar]["director"] = "elegido"
        else:
            continue
    elif eleccion_premio == "mejor actor":
        if premios_info[pelicula_al_azar]["cast"] != []:
            actor = random.choice(premios_info[pelicula_al_azar]["cast"])
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_actor (id_actor, anio) VALUES (%s,%s)",(actor, año))
            premios_info[pelicula_al_azar]["cast"].remove(actor)
        else:
            continue
    elif eleccion_premio == "mejor pelicula":
        if premios_info[pelicula_al_azar]["mejor pelicula"] != "si":
            pelicula = pelicula_al_azar
            año = premios_info[pelicula_al_azar]["año"]
            cursor.execute("INSERT INTO premio_mejor_pelicula (id_pelicula, anio) VALUES (%s,%s)",(pelicula, año))
            premios_info[pelicula_al_azar]["mejor pelicula"] = "si"
        else:
            continue

conn.commit()
cursor.close()
conn.close()

{1: {'año': 1965, 'director': 17, 'genero': 'Documental', 'cast': [73], 'mejor pelicula': 'no'}, 2: {'año': 1971, 'director': 38, 'genero': 'Animación', 'cast': [154, 141], 'mejor pelicula': 'no'}, 3: {'año': 1964, 'director': 196, 'genero': 'Western', 'cast': [198, 168, 96, 82], 'mejor pelicula': 'no'}, 4: {'año': 1998, 'director': 22, 'genero': 'Romance', 'cast': [79, 14], 'mejor pelicula': 'no'}, 5: {'año': 1976, 'director': 125, 'genero': 'Acción', 'cast': [29], 'mejor pelicula': 'no'}, 6: {'año': 2010, 'director': 8, 'genero': 'Documental', 'cast': [83], 'mejor pelicula': 'no'}, 7: {'año': 1998, 'director': 170, 'genero': 'Suspense', 'cast': [128], 'mejor pelicula': 'no'}, 8: {'año': 2006, 'director': 127, 'genero': 'Terror', 'cast': [74, 173, 109], 'mejor pelicula': 'no'}, 9: {'año': 1976, 'director': 63, 'genero': 'Aventura', 'cast': [163, 107], 'mejor pelicula': 'no'}, 10: {'año': 1983, 'director': 133, 'genero': 'Fantasía', 'cast': [60, 116], 'mejor pelicula': 'no'}, 11: {'año': 1992, 'director': 41, 'genero': 'Musical', 'cast': [27, 74], 'mejor pelicula': 'no'}, 12: {'año': 2009, 'director': 113, 'genero': 'Romance', 'cast': [149], 'mejor pelicula': 'no'}, 13: {'año': 2023, 'director': 47, 'genero': 'Acción', 'cast': [24, 162], 'mejor pelicula': 'no'}, 14: {'año': 1982, 'director': 159, 'genero': 'Musical', 'cast': [161, 118, 14], 'mejor pelicula': 'no'}, 15: {'año': 1963, 'director': 52, 'genero': 'Romance', 'cast': [], 'mejor pelicula': 'no'}, 16: {'año': 1968, 'director': 47, 'genero': 'Documental', 'cast': [61, 179, 168], 'mejor pelicula': 'no'}, 17: {'año': 2015, 'director': 133, 'genero': 'Animación', 'cast': [], 'mejor pelicula': 'no'}, 18: {'año': 1967, 'director': 33, 'genero': 'Documental', 'cast': [96], 'mejor pelicula': 'no'}, 19: {'año': 1968, 'director': 50, 'genero': 'Misterio', 'cast': [], 'mejor pelicula': 'no'}, 20: {'año': 2010, 'director': 133, 'genero': 'Western', 'cast': [], 'mejor pelicula': 'no'}, 21: {'año': 1987, 'director': 117, 'genero': 'Drama', 'cast': [79], 'mejor pelicula': 'no'}, 22: {'año': 1967, 'director': 5, 'genero': 'Misterio', 'cast': [99], 'mejor pelicula': 'no'}, 23: {'año': 2009, 'director': 59, 'genero': 'Drama', 'cast': [], 'mejor pelicula': 'no'}, 24: {'año': 2015, 'director': 50, 'genero': 'Ciencia ficción', 'cast': [125], 'mejor pelicula': 'no'}, 25: {'año': 1963, 'director': 116, 'genero': 'Comedia', 'cast': [36, 27, 88], 'mejor pelicula': 'no'}, 26: {'año': 2023, 'director': 8, 'genero': 'Comedia', 'cast': [57, 188, 99], 'mejor pelicula': 'no'}, 27: {'año': 2008, 'director': 97, 'genero': 'Drama', 'cast': [26, 16], 'mejor pelicula': 'no'}, 28: {'año': 1963, 'director': 157, 'genero': 'Misterio', 'cast': [53, 160], 'mejor pelicula': 'no'}, 29: {'año': 2003, 'director': 97, 'genero': 'Western', 'cast': [70, 167, 137, 110], 'mejor pelicula': 'no'}, 30: {'año': 2003, 'director': 115, 'genero': 'Aventura', 'cast': [133], 'mejor pelicula': 'no'}, 31: {'año': 2015, 'director': 192, 'genero': 'Documental', 'cast': [98], 'mejor pelicula': 'no'}, 32: {'año': 1972, 'director': 29, 'genero': 'Misterio', 'cast': [49, 134], 'mejor pelicula': 'no'}, 33: {'año': 1984, 'director': 192, 'genero': 'Acción', 'cast': [130, 200, 163], 'mejor pelicula': 'no'}, 34: {'año': 1970, 'director': 145, 'genero': 'Fantasía', 'cast': [193, 34], 'mejor pelicula': 'no'}, 35: {'año': 2019, 'director': 30, 'genero': 'Ciencia ficción', 'cast': [118, 72], 'mejor pelicula': 'no'}, 36: {'año': 1960, 'director': 109, 'genero': 'Terror', 'cast': [79], 'mejor pelicula': 'no'}, 37: {'año': 2014, 'director': 108, 'genero': 'Documental', 'cast': [7, 166, 104], 'mejor pelicula': 'no'}, 38: {'año': 1960, 'director': 166, 'genero': 'Ciencia ficción', 'cast': [43, 77, 181], 'mejor pelicula': 'no'}, 39: {'año': 1997, 'director': 124, 'genero': 'Drama', 'cast': [173, 35, 107, 7], 'mejor pelicula': 'no'}, 40: {'año': 1979, 'director': 54, 'genero': 'Drama', 'cast': [163, 72, 194], 'mejor pelicula': 'no'}, 41: {'año': 1981, 'director': 90, 'genero': 'Romance', 'cast': [157, 117], 'mejor pelicula': 'no'}, 42: {'año': 2003, 'director': 92, 'genero': 'Documental', 'cast': [159, 148, 5], 'mejor pelicula': 'no'}, 43: {'año': 1991, 'director': 28, 'genero': 'Romance', 'cast': [168, 78], 'mejor pelicula': 'no'}, 44: {'año': 2012, 'director': 65, 'genero': 'Western', 'cast': [124, 184, 67], 'mejor pelicula': 'no'}, 45: {'año': 1972, 'director': 78, 'genero': 'Fantasía', 'cast': [117], 'mejor pelicula': 'no'}, 46: {'año': 1999, 'director': 54, 'genero': 'Western', 'cast': [140, 9], 'mejor pelicula': 'no'}, 47: {'año': 2019, 'director': 66, 'genero': 'Ciencia ficción', 'cast': [22, 71], 'mejor pelicula': 'no'}, 48: {'año': 1991, 'director': 19, 'genero': 'Drama', 'cast': [], 'mejor pelicula': 'no'}, 49: {'año': 2004, 'director': 86, 'genero': 'Terror', 'cast': [62], 'mejor pelicula': 'no'}, 50: {'año': 2016, 'director': 43, 'genero': 'Terror', 'cast': [91, 66], 'mejor pelicula': 'no'}, 51: {'año': 1979, 'director': 113, 'genero': 'Acción', 'cast': [129, 189], 'mejor pelicula': 'no'}, 52: {'año': 1995, 'director': 189, 'genero': 'Comedia', 'cast': [182, 123, 52], 'mejor pelicula': 'no'}, 53: {'año': 1960, 'director': 129, 'genero': 'Terror', 'cast': [78, 170, 157], 'mejor pelicula': 'no'}, 54: {'año': 1964, 'director': 86, 'genero': 'Animación', 'cast': [84], 'mejor pelicula': 'no'}, 55: {'año': 2006, 'director': 176, 'genero': 'Animación', 'cast': [], 'mejor pelicula': 'no'}, 56: {'año': 2014, 'director': 78, 'genero': 'Drama', 'cast': [2, 24, 73, 11], 'mejor pelicula': 'no'}, 57: {'año': 1986, 'director': 81, 'genero': 'Documental', 'cast': [156], 'mejor pelicula': 'no'}, 58: {'año': 1972, 'director': 22, 'genero': 'Aventura', 'cast': [163], 'mejor pelicula': 'no'}, 59: {'año': 1977, 'director': 173, 'genero': 'Terror', 'cast': [129, 116], 'mejor pelicula': 'no'}, 60: {'año': 2021, 'director': 109, 'genero': 'Fantasía', 'cast': [], 'mejor pelicula': 'no'}, 61: {'año': 2005, 'director': 14, 'genero': 'Western', 'cast': [156, 16], 'mejor pelicula': 'no'}, 62: {'año': 1976, 'director': 145, 'genero': 'Aventura', 'cast': [178, 162, 153], 'mejor pelicula': 'no'}, 63: {'año': 1975, 'director': 90, 'genero': 'Comedia', 'cast': [89, 112, 189, 183, 45], 'mejor pelicula': 'no'}, 64: {'año': 2022, 'director': 67, 'genero': 'Fantasía', 'cast': [], 'mejor pelicula': 'no'}, 65: {'año': 1981, 'director': 79, 'genero': 'Drama', 'cast': [67, 148], 'mejor pelicula': 'no'}, 66: {'año': 1982, 'director': 39, 'genero': 'Aventura', 'cast': [96], 'mejor pelicula': 'no'}, 67: {'año': 1969, 'director': 79, 'genero': 'Comedia', 'cast': [51, 161, 109, 193, 183], 'mejor pelicula': 'no'}, 68: {'año': 1999, 'director': 57, 'genero': 'Musical', 'cast': [71, 18, 59], 'mejor pelicula': 'no'}, 69: {'año': 2003, 'director': 189, 'genero': 'Ciencia ficción', 'cast': [107, 160, 151, 77], 'mejor pelicula': 'no'}, 70: {'año': 2007, 'director': 49, 'genero': 'Fantasía', 'cast': [171], 'mejor pelicula': 'no'}, 71: {'año': 1978, 'director': 26, 'genero': 'Aventura', 'cast': [], 'mejor pelicula': 'no'}, 72: {'año': 1985, 'director': 41, 'genero': 'Suspense', 'cast': [25, 17], 'mejor pelicula': 'no'}, 73: {'año': 1985, 'director': 195, 'genero': 'Comedia', 'cast': [], 'mejor pelicula': 'no'}, 74: {'año': 1965, 'director': 9, 'genero': 'Animación', 'cast': [158], 'mejor pelicula': 'no'}, 75: {'año': 2011, 'director': 99, 'genero': 'Acción', 'cast': [41], 'mejor pelicula': 'no'}, 76: {'año': 2003, 'director': 64, 'genero': 'Terror', 'cast': [], 'mejor pelicula': 'no'}, 77: {'año': 2010, 'director': 12, 'genero': 'Drama', 'cast': [95, 103], 'mejor pelicula': 'no'}, 78: {'año': 1975, 'director': 48, 'genero': 'Fantasía', 'cast': [157, 116], 'mejor pelicula': 'no'}, 79: {'año': 1961, 'director': 66, 'genero': 'Acción', 'cast': [96], 'mejor pelicula': 'no'}, 80: {'año': 1989, 'director': 86, 'genero': 'Animación', 'cast': [33, 145], 'mejor pelicula': 'no'}, 81: {'año': 1995, 'director': 27, 'genero': 'Acción', 'cast': [31], 'mejor pelicula': 'no'}, 82: {'año': 1985, 'director': 49, 'genero': 'Fantasía', 'cast': [48], 'mejor pelicula': 'no'}, 83: {'año': 2010, 'director': 75, 'genero': 'Animación', 'cast': [182, 97], 'mejor pelicula': 'no'}, 84: {'año': 2017, 'director': 1, 'genero': 'Ciencia ficción', 'cast': [169, 47, 187, 36, 96, 190], 'mejor pelicula': 'no'}, 85: {'año': 1984, 'director': 58, 'genero': 'Ciencia ficción', 'cast': [149, 186, 5], 'mejor pelicula': 'no'}, 86: {'año': 1987, 'director': 183, 'genero': 'Acción', 'cast': [], 'mejor pelicula': 'no'}, 87: {'año': 1965, 'director': 170, 'genero': 'Animación', 'cast': [156, 53], 'mejor pelicula': 'no'}, 88: {'año': 1970, 'director': 86, 'genero': 'Fantasía', 'cast': [109], 'mejor pelicula': 'no'}, 89: {'año': 2022, 'director': 85, 'genero': 'Terror', 'cast': [181], 'mejor pelicula': 'no'}, 90: {'año': 2007, 'director': 116, 'genero': 'Fantasía', 'cast': [188, 141, 53, 194], 'mejor pelicula': 'no'}, 91: {'año': 1998, 'director': 53, 'genero': 'Aventura', 'cast': [113], 'mejor pelicula': 'no'}, 92: {'año': 1973, 'director': 15, 'genero': 'Acción', 'cast': [], 'mejor pelicula': 'no'}, 93: {'año': 2009, 'director': 120, 'genero': 'Ciencia ficción', 'cast': [137, 26, 35, 152], 'mejor pelicula': 'no'}, 94: {'año': 1974, 'director': 196, 'genero': 'Musical', 'cast': [170], 'mejor pelicula': 'no'}, 95: {'año': 1965, 'director': 197, 'genero': 'Musical', 'cast': [171], 'mejor pelicula': 'no'}, 96: {'año': 2012, 'director': 33, 'genero': 'Suspense', 'cast': [], 'mejor pelicula': 'no'}, 97: {'año': 1969, 'director': 3, 'genero': 'Romance', 'cast': [72], 'mejor pelicula': 'no'}, 98: {'año': 1994, 'director': 145, 'genero': 'Ciencia ficción', 'cast': [46], 'mejor pelicula': 'no'}, 99: {'año': 1988, 'director': 186, 'genero': 'Drama', 'cast': [139, 168], 'mejor pelicula': 'no'}, 100: {'año': 2012, 'director': 65, 'genero': 'Musical', 'cast': [189, 20, 160], 'mejor pelicula': 'no'}, 101: {'año': 2022, 'director': 113, 'genero': 'Aventura', 'cast': [], 'mejor pelicula': 'no'}, 102: {'año': 1977, 'director': 145, 'genero': 'Comedia', 'cast': [184], 'mejor pelicula': 'no'}, 103: {'año': 2015, 'director': 58, 'genero': 'Animación', 'cast': [93, 144, 170], 'mejor pelicula': 'no'}, 104: {'año': 2023, 'director': 161, 'genero': 'Misterio', 'cast': [176], 'mejor pelicula': 'no'}, 105: {'año': 1993, 'director': 79, 'genero': 'Ciencia ficción', 'cast': [124, 11, 193, 78], 'mejor pelicula': 'no'}, 106: {'año': 2020, 'director': 180, 'genero': 'Romance', 'cast': [117, 152], 'mejor pelicula': 'no'}, 107: {'año': 2004, 'director': 83, 'genero': 'Terror', 'cast': [76, 12, 128, 120], 'mejor pelicula': 'no'}, 108: {'año': 1985, 'director': 94, 'genero': 'Musical', 'cast': [84], 'mejor pelicula': 'no'}, 109: {'año': 2008, 'director': 120, 'genero': 'Western', 'cast': [119], 'mejor pelicula': 'no'}, 110: {'año': 1989, 'director': 146, 'genero': 'Acción', 'cast': [74], 'mejor pelicula': 'no'}, 111: {'año': 1996, 'director': 16, 'genero': 'Animación', 'cast': [18], 'mejor pelicula': 'no'}, 112: {'año': 2018, 'director': 62, 'genero': 'Misterio', 'cast': [102, 16], 'mejor pelicula': 'no'}, 113: {'año': 1991, 'director': 198, 'genero': 'Ciencia ficción', 'cast': [183, 108], 'mejor pelicula': 'no'}, 114: {'año': 1986, 'director': 139, 'genero': 'Drama', 'cast': [162, 136, 142, 66], 'mejor pelicula': 'no'}, 115: {'año': 1979, 'director': 82, 'genero': 'Drama', 'cast': [146], 'mejor pelicula': 'no'}, 116: {'año': 1977, 'director': 146, 'genero': 'Fantasía', 'cast': [], 'mejor pelicula': 'no'}, 117: {'año': 2000, 'director': 150, 'genero': 'Ciencia ficción', 'cast': [], 'mejor pelicula': 'no'}, 118: {'año': 2013, 'director': 184, 'genero': 'Ciencia ficción', 'cast': [114], 'mejor pelicula': 'no'}, 119: {'año': 1966, 'director': 87, 'genero': 'Ciencia ficción', 'cast': [85, 35], 'mejor pelicula': 'no'}, 120: {'año': 1990, 'director': 52, 'genero': 'Animación', 'cast': [151, 117, 7], 'mejor pelicula': 'no'}, 121: {'año': 1990, 'director': 57, 'genero': 'Misterio', 'cast': [], 'mejor pelicula': 'no'}, 122: {'año': 1994, 'director': 144, 'genero': 'Acción', 'cast': [], 'mejor pelicula': 'no'}, 123: {'año': 2021, 'director': 101, 'genero': 'Aventura', 'cast': [177, 137, 88], 'mejor pelicula': 'no'}, 124: {'año': 1995, 'director': 98, 'genero': 'Ciencia ficción', 'cast': [194], 'mejor pelicula': 'no'}, 125: {'año': 2011, 'director': 92, 'genero': 'Animación', 'cast': [55, 51], 'mejor pelicula': 'no'}, 126: {'año': 2012, 'director': 165, 'genero': 'Drama', 'cast': [144], 'mejor pelicula': 'no'}, 127: {'año': 2004, 'director': 163, 'genero': 'Documental', 'cast': [], 'mejor pelicula': 'no'}, 128: {'año': 1966, 'director': 25, 'genero': 'Acción', 'cast': [122], 'mejor pelicula': 'no'}, 129: {'año': 1975, 'director': 133, 'genero': 'Misterio', 'cast': [61, 64, 119, 123], 'mejor pelicula': 'no'}, 130: {'año': 2010, 'director': 8, 'genero': 'Musical', 'cast': [165], 'mejor pelicula': 'no'}, 131: {'año': 1994, 'director': 198, 'genero': 'Documental', 'cast': [178, 189, 149, 26], 'mejor pelicula': 'no'}, 132: {'año': 2012, 'director': 193, 'genero': 'Suspense', 'cast': [65], 'mejor pelicula': 'no'}, 133: {'año': 1995, 'director': 146, 'genero': 'Animación', 'cast': [], 'mejor pelicula': 'no'}, 134: {'año': 1978, 'director': 86, 'genero': 'Aventura', 'cast': [76, 149, 152], 'mejor pelicula': 'no'}, 135: {'año': 1992, 'director': 39, 'genero': 'Animación', 'cast': [], 'mejor pelicula': 'no'}, 136: {'año': 2012, 'director': 137, 'genero': 'Musical', 'cast': [18, 148], 'mejor pelicula': 'no'}, 137: {'año': 1964, 'director': 174, 'genero': 'Comedia', 'cast': [139, 97, 141], 'mejor pelicula': 'no'}, 138: {'año': 1986, 'director': 29, 'genero': 'Fantasía', 'cast': [58, 127], 'mejor pelicula': 'no'}, 139: {'año': 1999, 'director': 48, 'genero': 'Acción', 'cast': [137], 'mejor pelicula': 'no'}, 140: {'año': 1982, 'director': 10, 'genero': 'Drama', 'cast': [136], 'mejor pelicula': 'no'}, 141: {'año': 1979, 'director': 161, 'genero': 'Misterio', 'cast': [67, 150], 'mejor pelicula': 'no'}, 142: {'año': 1990, 'director': 130, 'genero': 'Suspense', 'cast': [], 'mejor pelicula': 'no'}, 143: {'año': 1981, 'director': 54, 'genero': 'Aventura', 'cast': [101, 71], 'mejor pelicula': 'no'}, 144: {'año': 2000, 'director': 123, 'genero': 'Misterio', 'cast': [1, 132], 'mejor pelicula': 'no'}, 145: {'año': 1988, 'director': 70, 'genero': 'Misterio', 'cast': [66], 'mejor pelicula': 'no'}, 146: {'año': 1979, 'director': 157, 'genero': 'Drama', 'cast': [177], 'mejor pelicula': 'no'}, 147: {'año': 2001, 'director': 188, 'genero': 'Acción', 'cast': [102, 142], 'mejor pelicula': 'no'}, 148: {'año': 1985, 'director': 187, 'genero': 'Fantasía', 'cast': [4], 'mejor pelicula': 'no'}, 149: {'año': 2002, 'director': 9, 'genero': 'Animación', 'cast': [48, 173, 175], 'mejor pelicula': 'no'}, 150: {'año': 2021, 'director': 142, 'genero': 'Documental', 'cast': [172], 'mejor pelicula': 'no'}, 151: {'año': 1961, 'director': 116, 'genero': 'Misterio', 'cast': [147, 78, 41], 'mejor pelicula': 'no'}, 152: {'año': 2016, 'director': 104, 'genero': 'Acción', 'cast': [], 'mejor pelicula': 'no'}, 153: {'año': 1997, 'director': 177, 'genero': 'Fantasía', 'cast': [184, 186], 'mejor pelicula': 'no'}, 154: {'año': 1981, 'director': 123, 'genero': 'Romance', 'cast': [48, 165], 'mejor pelicula': 'no'}, 155: {'año': 1961, 'director': 129, 'genero': 'Romance', 'cast': [], 'mejor pelicula': 'no'}, 156: {'año': 1960, 'director': 166, 'genero': 'Acción', 'cast': [151], 'mejor pelicula': 'no'}, 157: {'año': 2000, 'director': 79, 'genero': 'Misterio', 'cast': [7, 29, 23], 'mejor pelicula': 'no'}, 158: {'año': 2015, 'director': 175, 'genero': 'Comedia', 'cast': [177], 'mejor pelicula': 'no'}, 159: {'año': 2021, 'director': 79, 'genero': 'Animación', 'cast': [78, 113], 'mejor pelicula': 'no'}, 160: {'año': 1992, 'director': 140, 'genero': 'Acción', 'cast': [138], 'mejor pelicula': 'no'}, 161: {'año': 1970, 'director': 169, 'genero': 'Acción', 'cast': [93], 'mejor pelicula': 'no'}, 162: {'año': 1988, 'director': 84, 'genero': 'Animación', 'cast': [79, 146, 142, 98, 131], 'mejor pelicula': 'no'}, 163: {'año': 1985, 'director': 177, 'genero': 'Comedia', 'cast': [99, 58, 117], 'mejor pelicula': 'no'}, 164: {'año': 1999, 'director': 189, 'genero': 'Animación', 'cast': [10], 'mejor pelicula': 'no'}, 165: {'año': 2012, 'director': 132, 'genero': 'Romance', 'cast': [37, 158, 95], 'mejor pelicula': 'no'}, 166: {'año': 1979, 'director': 187, 'genero': 'Animación', 'cast': [], 'mejor pelicula': 'no'}, 167: {'año': 1986, 'director': 144, 'genero': 'Misterio', 'cast': [], 'mejor pelicula': 'no'}, 168: {'año': 1985, 'director': 154, 'genero': 'Ciencia ficción', 'cast': [12, 72, 154, 191], 'mejor pelicula': 'no'}, 169: {'año': 2003, 'director': 27, 'genero': 'Suspense', 'cast': [45], 'mejor pelicula': 'no'}, 170: {'año': 2014, 'director': 27, 'genero': 'Documental', 'cast': [92, 179, 193, 131, 156], 'mejor pelicula': 'no'}, 171: {'año': 2002, 'director': 54, 'genero': 'Ciencia ficción', 'cast': [], 'mejor pelicula': 'no'}, 172: {'año': 2006, 'director': 184, 'genero': 'Documental', 'cast': [], 'mejor pelicula': 'no'}, 173: {'año': 1984, 'director': 61, 'genero': 'Suspense', 'cast': [], 'mejor pelicula': 'no'}, 174: {'año': 2004, 'director': 8, 'genero': 'Documental', 'cast': [], 'mejor pelicula': 'no'}, 175: {'año': 2014, 'director': 10, 'genero': 'Animación', 'cast': [131, 116], 'mejor pelicula': 'no'}, 176: {'año': 2020, 'director': 121, 'genero': 'Fantasía', 'cast': [], 'mejor pelicula': 'no'}, 177: {'año': 1976, 'director': 90, 'genero': 'Musical', 'cast': [23, 39, 161, 155, 100], 'mejor pelicula': 'no'}, 178: {'año': 1970, 'director': 17, 'genero': 'Suspense', 'cast': [159, 179], 'mejor pelicula': 'no'}, 179: {'año': 1965, 'director': 152, 'genero': 'Documental', 'cast': [132, 188], 'mejor pelicula': 'no'}, 180: {'año': 1998, 'director': 130, 'genero': 'Fantasía', 'cast': [], 'mejor pelicula': 'no'}, 181: {'año': 2001, 'director': 144, 'genero': 'Romance', 'cast': [129, 194], 'mejor pelicula': 'no'}, 182: {'año': 1985, 'director': 155, 'genero': 'Terror', 'cast': [55], 'mejor pelicula': 'no'}, 183: {'año': 1984, 'director': 49, 'genero': 'Acción', 'cast': [], 'mejor pelicula': 'no'}, 184: {'año': 2005, 'director': 146, 'genero': 'Suspense', 'cast': [159, 152], 'mejor pelicula': 'no'}, 185: {'año': 2007, 'director': 117, 'genero': 'Musical', 'cast': [186, 175], 'mejor pelicula': 'no'}, 186: {'año': 1993, 'director': 3, 'genero': 'Musical', 'cast': [135], 'mejor pelicula': 'no'}, 187: {'año': 2016, 'director': 17, 'genero': 'Documental', 'cast': [2, 114, 24], 'mejor pelicula': 'no'}, 188: {'año': 2023, 'director': 60, 'genero': 'Documental', 'cast': [32], 'mejor pelicula': 'no'}, 189: {'año': 1991, 'director': 35, 'genero': 'Western', 'cast': [69, 156], 'mejor pelicula': 'no'}, 190: {'año': 1972, 'director': 84, 'genero': 'Fantasía', 'cast': [193], 'mejor pelicula': 'no'}, 191: {'año': 2005, 'director': 38, 'genero': 'Musical', 'cast': [132, 22, 140], 'mejor pelicula': 'no'}, 192: {'año': 1978, 'director': 126, 'genero': 'Misterio', 'cast': [111, 30, 91], 'mejor pelicula': 'no'}, 193: {'año': 1992, 'director': 18, 'genero': 'Misterio', 'cast': [], 'mejor pelicula': 'no'}, 194: {'año': 1968, 'director': 86, 'genero': 'Documental', 'cast': [], 'mejor pelicula': 'no'}, 195: {'año': 1985, 'director': 160, 'genero': 'Romance', 'cast': [154, 149, 148], 'mejor pelicula': 'no'}, 196: {'año': 1976, 'director': 54, 'genero': 'Documental', 'cast': [85, 131, 60], 'mejor pelicula': 'no'}, 197: {'año': 1983, 'director': 97, 'genero': 'Romance', 'cast': [157, 131], 'mejor pelicula': 'no'}, 198: {'año': 2010, 'director': 96, 'genero': 'Documental', 'cast': [121], 'mejor pelicula': 'no'}, 199: {'año': 2005, 'director': 194, 'genero': 'Aventura', 'cast': [150, 86], 'mejor pelicula': 'no'}, 200: {'año': 2004, 'director': 41, 'genero': 'Aventura', 'cast': [54

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**Nombre de todas las películas publicadas desde el año pasado.**


**Ejemplo:**
|Nombre|
|------|
|Dune 2|
|...|


**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql

SELECT nombre as "Nombre"
FROM
    Pelicula
WHERE 
    extract(Year from fecha_publicacion) >= 2023;

 * postgresql://postgres:***@localhost:5432/tareaDB
7 rows affected.

[('La doncella de la mariposa',),
 ('El canto de sirena de la guerra',),
 ('La odisea de la caza',),
 ('El bosque encantado de el faro',),
 ('El tesoro de el mar',),
 ('El último viaje de el hechicero',),
 ('La estrella fugaz de la desgracia',)]

### Consulta 2
**Nombre y fecha de publicación de todas las películas del género drama que hayan sido publicadas en el año 2023.**


**Ejemplo:**

|Nombre     |Fecha de publicación|
|-----------|--------------------|
|Oppenheimer|21-7-2023          |
|...        |...                 |


**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT 
    nombre as "Nombre", fecha_publicacion as "Fecha de publicación"
FROM 
    pelicula
WHERE
    genero = 'Drama' and extract(year from fecha_publicacion) = 2023;

 * postgresql://postgres:***@localhost:5432/tareaDB
1 rows affected.

[('El tesoro de el mar', datetime.date(2023, 3, 6))]

### Consulta 3
**Nombres de todos los actores que participaron en una película de género comedia.**


**Ejemplo:**
|Nombre       |
|-------------|
|Margot Robbie|
|...          |


**Solución:** _Escriba aquí la descripción de su solución._

In [15]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */
SELECT 
    actor.nombre as "Nombre"
FROM 
    pelicula INNER JOIN actor_participa_en_pelicula 
ON 
    pelicula.id_pelicula = actor_participa_en_pelicula.id_pelicula INNER JOIN actor ON actor_participa_en_pelicula.id_actor = actor.id_actor 
WHERE
    genero = 'Comedia'

 * postgresql://postgres:***@localhost:5432/tareaDB
36 rows affected.

[('Kamala Hidalgo',),
 ('Katarina Henriquez',),
 ('Nadia Petrov',),
 ('Genghis Qian',),
 ('Genghis Nogueira',),
 ('Natalia Esteves',),
 ('Fabiana Xu',),
 ('Khaled Velez',),
 ('Lakshmi Figueiredo',),
 ('Khaled Velez',),
 ('Yuri Estevez',),
 ('Fatemeh Yan',),
 ('Sakura Santana',),
 ('Irina Montenegro',),
 ('Tatiana Gomes',),
 ('Chiyoko Diniz',),
 ('Alessandro Goncalves',),
 ('Wilhelmina Jimenez',),
 ('Beatriz Mendes',),
 ('Yusef Lima',),
 ('Quintus Duarte',),
 ('Xin Etxebarria',),
 ('Beatriz Mendes',),
 ('Tatjana Inácio',),
 ('Theresa Wu',),
 ('Darya Borges',),
 ('Nadia Petrov',),
 ('Yuri Wu',),
 ('Nina Diniz',),
 ('Rania Vieira',),
 ('Jin Abadi',),
 ('Theresa Wu',),
 ('Qiu Duarte',),
 ('Beatriz Mendes',),
 ('Han Santos',),
 ('Dmitri Vargas',)]

### Consulta 4
**Nombre y cantidad de premios ganados por cada género, ordenados de mayor a menor según la cantidad de premios.**


**Ejemplo:**
|Género  |Cantidad de premios|
|--------|-------------------|
|Drama   |99                 |
|Fantasía|29                 |
|...     |...                |



**Solución:** _Escriba aquí la descripción de su solución._

In [16]:
%%sql
SELECT 
    pelicula.genero as "Género",COUNT(pelicula.genero) AS "Cantidad de premios"
FROM 
    pelicula INNER JOIN premio_mejor_pelicula ON pelicula.id_pelicula = premio_mejor_pelicula.id_pelicula
GROUP BY 
    pelicula.genero 
ORDER BY 
    COUNT(pelicula.genero) DESC

 * postgresql://postgres:***@localhost:5432/tareaDB
13 rows affected.

[('Fantasía', 4),
 ('Acción', 3),
 ('Musical', 3),
 ('Comedia', 3),
 ('Misterio', 3),
 ('Ciencia ficción', 2),
 ('Animación', 2),
 ('Aventura', 2),
 ('Romance', 1),
 ('Terror', 1),
 ('Documental', 1),
 ('Suspense', 1),
 ('Western', 1)]

### Consulta 5
**Mostrar peliculas que tengan 2 o mas actores/actrices ordenadas de mayor a menor segun la cantidad de actores/actrices.**


**Ejemplo:**
|Nombre     |Cantidad de actores|
|-----------|-------------------|
|Oppenheimer|7                  |
|Poor Things|4                  |
|...        |...                |


**Solución:** _Escriba aquí la descripción de su solución._

In [17]:
%%sql
SELECT
    pelicula.nombre as "Nombre", COUNT(premio_mejor_actor.id_actor) as "Cantidad de Premios Mejor Actor"
FROM
    pelicula
INNER JOIN
    actor_participa_en_pelicula ON pelicula.id_pelicula = actor_participa_en_pelicula.id_pelicula
INNER JOIN
    premio_mejor_actor ON actor_participa_en_pelicula.id_actor = premio_mejor_actor.id_actor
GROUP BY
    pelicula.nombre
HAVING 
    COUNT(premio_mejor_actor.id_actor) >= 2
ORDER BY 
    COUNT(premio_mejor_actor.id_actor) DESC;

 * postgresql://postgres:***@localhost:5432/tareaDB
14 rows affected.

[('El amanecer de el río', 3),
 ('El canto de sirena de la guerra', 3),
 ('La búsqueda del tesoro de la corona', 3),
 ('El misterio de la tierra', 2),
 ('La venganza de la leyenda', 2),
 ('La doncella de la mariposa', 2),
 ('La batalla de la bestia', 2),
 ('El vuelo mágico de el peligro', 2),
 ('La fuga de el cielo', 2),
 ('El descubrimiento de el camino', 2),
 ('El refugio de el mago', 2),
 ('El castillo de la paz', 2),
 ('La llegada de la flor', 2),
 ('El pacto de la misión', 2)]

### Consulta 6
**Nombre de la película con la mayor brecha de edad entre el actor más joven y el actor más viejo que participen en ella, y las edades de dichos actores.** (Si hay empate, mostrar solamente uno).


**Ejemplo:**
|Nombre|Edad del actor más joven|Edad del actor más viejo|
|------|------------------------|------------------------|
|Barbie|16                      |92                      |


**Solución:** _Escriba aquí la descripción de su solución._

In [26]:
%%sql
SELECT
    pelicula.nombre as "Nombre",MIN(actor.edad) as "Edad del actor más joven",MAX(actor.edad) as "Edad del actor más viejo"
FROM pelicula
INNER JOIN actor_participa_en_pelicula ON pelicula.id_pelicula = actor_participa_en_pelicula.id_pelicula
INNER JOIN actor ON actor_participa_en_pelicula.id_actor = actor.id_actor
GROUP BY pelicula.nombre
ORDER BY MAX(actor.edad) - MIN(actor.edad) DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/tareaDB
1 rows affected.

[('La historia de la verdad', 15, 68)]

### Consulta 7
**Año de cada premio ganado por la película de mayor duración.** (Si hay empate, elegir solamente uno).


**Ejemplo:**
|Año |
|----|
|2024|
|... |


**Solución:** _Escriba aquí la descripción de su solución._

In [19]:
%%sql
/* Reemplace estas queries por las que resuelven las consultas pedidas. */

 * postgresql://postgres:***@localhost:5432/tareaDB
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Consulta 8
**Nombre de todos los actores que han trabajado con más de un director, la cantidad de directores con las que han trabajado y el nombre de una de las películas.**


**Ejemplo:**
|Nombre del actor|Cantidad de directores|Nombre de una película|
|----------------|----------------------|----------------------|
|Cillian Murphy  |29                    |Oppenheimer           |
|...             |...                   |...                   |


**Solución:** _Escriba aquí la descripción de su solución._

In [35]:
%%sql
SELECT 
    actor.nombre as "Nombre del actor",
    COUNT(director.id_director) as "Cantidad de directores",
    pelicula.nombre as "Nombre de una pelicula"
FROM 
    actor
INNER JOIN
    actor_participa_en_pelicula ON actor.id_actor = actor_participa_en_pelicula.id_actor
INNER JOIN
    pelicula ON actor_participa_en_pelicula.id_pelicula = pelicula.id_pelicula
INNER JOIN
    director ON pelicula.id_director = director.id_director
GROUP BY 
    actor.nombre, pelicula.nombre
HAVING 
    COUNT(director.id_director) >= 2
ORDER BY 
    COUNT(director.id_director) DESC;

 * postgresql://postgres:***@localhost:5432/tareaDB
0 rows affected.

[]

### Consulta 9

**Nombre de todos los actores que han participado sólo en películas dirigidas por el director con id\_director 1.**


**Ejemplo:**
|Nombre      |
|------------|
|Ryan Gosling|
|...         |


**Solución:** _Escriba aquí la descripción de su solución._

In [33]:
%%sql
SELECT actor.nombre as "Nombre"
FROM actor
INNER JOIN
    actor_participa_en_pelicula ON actor.id_actor = actor_participa_en_pelicula.id_actor
INNER JOIN
    pelicula ON actor_participa_en_pelicula.id_pelicula = pelicula.id_pelicula
INNER JOIN
    director ON pelicula.id_director = director.id_director
WHERE 
    director.id_director = 1
GROUP BY 
    actor.nombre, pelicula.nombre;

 * postgresql://postgres:***@localhost:5432/tareaDB
7 rows affected.

[('Fatemeh Zhang',),
 ('Kamala Gao',),
 ('Lakshmi Figueiredo',),
 ('Salim Sousa',),
 ('Umberto Zhang',),
 ('Xin Petrov',),
 ('Zoya Bianchi',)]

### Consulta BONUS

**Nombre de todos los actores que nunca han ganado un premio, todas las películas en las que han participado y el nombre, número total de películas y número total de premios de los directores de cada película.**


**Ejemplo:**
|Nombre del actor|Nombre de la película|Nombre del director|Número de películas del director|Número de premios del director|
|----------------|---------------------|-------------------|--------------------------------|-----------------------|
|Mark Ruffalo    |Poor Things          |Yorgos Lanthimos   |4                               |0                      |
|Saoirse Ronan   |Lady Bird            |Greta Gerwig       |20                              |1                      |
|Saoirse Ronan   |Little Women         |Greta Gerwig       |20                              |1                      |
|...             |...                  |...                |...                             |...                    |


**Solución:** _Escriba aquí la descripción de su solución._

In [85]:
%%sql
SELECT
    actor.nombre AS "Nombre del actor",
    pelicula.nombre AS "Nombre de la Pelicula",
    director.nombre AS "Nombre del director",
    COUNT(pelicula.id_pelicula) AS "Número de películas del director",
    COUNT(premio_mejor_director.id_premio) AS "Número de premios del director"
FROM actor
INNER JOIN
    actor_participa_en_pelicula ON actor.id_actor = actor_participa_en_pelicula.id_actor
INNER JOIN
    pelicula ON actor_participa_en_pelicula.id_pelicula = pelicula.id_pelicula
INNER JOIN
    director ON pelicula.id_director = director.id_director
LEFT JOIN
    premio_mejor_director ON director.id_director = premio_mejor_director.id_director
WHERE NOT EXISTS(
    SELECT 1
    FROM premio_mejor_actor
    WHERE actor.id_actor = premio_mejor_actor.id_actor
)
GROUP BY
    actor.nombre,pelicula.nombre, director.nombre;

 * postgresql://postgres:***@localhost:5432/tareaDB
(psycopg2.errors.SyntaxError) error de sintaxis en o cerca de «FROM»
LINE 7: FROM actor
        ^

[SQL: SELECT
    actor.nombre AS "Nombre del actor",
    pelicula.nombre AS "Nombre de la Pelicula",
    director.nombre AS "Nombre del director",
    COUNT(pelicula.id_pelicula) AS "Número de películas del director",
    COUNT(premio_mejor_director.id_premio) AS "Número de premios del director",
FROM actor
INNER JOIN
    actor_participa_en_pelicula ON actor.id_actor = actor_participa_en_pelicula.id_actor
INNER JOIN
    pelicula ON actor_participa_en_pelicula.id_pelicula = pelicula.id_pelicula
INNER JOIN
    director ON pelicula.id_director = director.id_director
LEFT JOIN
    premio_mejor_director ON director.id_director = premio_mejor_director.id_director
WHERE NOT EXISTS(
    SELECT 1
    FROM premio_mejor_actor
    WHERE actor.id_actor = premio_mejor_actor.id_actor
)
GROUP BY
    actor.nombre,pelicula.nombre, director.nombre;]
(Background on this error at: https://sqlalche.me/e/20/f405)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=cafe4e99-499e-4e36-b9fd-48e2d31e0196' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>

In [67]:
%%sql
SELECT actor.nombre AS "Nombre", COUNT(premio_mejor_actor.id_premio) as "Número de Premios"
FROM actor
LEFT JOIN premio_mejor_actor ON actor.id_actor = premio_mejor_actor.id_actor
WHERE NOT EXISTS(
    SELECT 1
    FROM premio_mejor_actor
    WHERE actor.id_actor = premio_mejor_actor.id_actor
)
GROUP BY actor.nombre;

 * postgresql://postgres:***@localhost:5432/tareaDB
170 rows affected.

[('Dmitri Vargas', 0),
 ('Alessandro Almeida', 0),
 ('Jasmin Tan', 0),
 ('Zafar Nguyen', 0),
 ('Alessandro Lima', 0),
 ('Leticia Hidalgo', 0),
 ('Khaled Velez', 0),
 ('Yuri Kawaguchi', 0),
 ('Alessandro Goncalves', 0),
 ('Ilya Urbina', 0),
 ('Emiko Nogueira', 0),
 ('Theresa Henriquez', 0),
 ('Valentina Goncalves', 0),
 ('Mikhail Ferreira', 0),
 ('Jasmin Rodriguez', 0),
 ('Yusef Inácio', 0),
 ('Nadia Petrov', 0),
 ('Theresa Wu', 0),
 ('Rania Ferreira', 0),
 ('Wan Pereira', 0),
 ('Fatemeh Yan', 0),
 ('Abdullah Petrov', 0),
 ('Oscar Carvalho', 0),
 ('Fadhila Santos', 0),
 ('Darya Bianchi', 0),
 ('Natalia Barros', 0),
 ('Isa Ramos', 0),
 ('Fadhila Xia', 0),
 ('Katarina Cruz', 0),
 ('Lakshmi Figueiredo', 0),
 ('Vivek Queiroz', 0),
 ('Pilar Xia', 0),
 ('Umberto Olivares', 0),
 ('Chen Zhang', 0),
 ('Aarav Petrov', 0),
 ('Orhan Tan', 0),
 ('Chiyoko Diniz', 0),
 ('Theresa Nunes', 0),
 ('Rania Kumar', 0),
 ('Mehmet Esteves', 0),
 ('Rania Vieira', 0),
 ('Chiyoko Goncalves', 0),
 ('Sakura Sousa', 0),
 ('Qiu Barros', 0),
 ('Katarina Urbina', 0),
 ('Oscar Lopez', 0),
 ('Leonardo Martinez', 0),
 ('Zoya Rodriguez', 0),
 ('Qiu Goncalves', 0),
 ('Alessandro Kumar', 0),
 ('Darius Ferreira', 0),
 ('Khaled Diniz', 0),
 ('Fadhila Ortega', 0),
 ('Leticia Vieira', 0),
 ('Yuri Wu', 0),
 ('Dmitri Almeida', 0),
 ('Parvati Nunes', 0),
 ('Fadhila Correia', 0),
 ('Nina Hidalgo', 0),
 ('Leonardo Rodriguez', 0),
 ('Hiroko Gao', 0),
 ('Qiu Cruz', 0),
 ('Darya Rocha', 0),
 ('Quintus Correia', 0),
 ('Tatjana Ferreira', 0),
 ('Fabiana Xu', 0),
 ('Jin Abadi', 0),
 ('Aarav Sousa', 0),
 ('Xin Petrov', 0),
 ('Natalia Lopez', 0),
 ('Theresa Urbina', 0),
 ('Omar Esteves', 0),
 ('Tatiana Wu', 0),
 ('Chiyoko Santana', 0),
 ('Theresa Figueiredo', 0),
 ('Darius Duarte', 0),
 ('Irina Montenegro', 0),
 ('Ursula Petrov', 0),
 ('Tatiana Quintana', 0),
 ('Quintus Duarte', 0),
 ('Mina Santos', 0),
 ('Rania Hidalgo', 0),
 ('Natalia Esteves', 0),
 ('Ursula Esteves', 0),
 ('Xavier Lopes', 0),
 ('Chen Pacheco', 0),
 ('Salim Carvalho', 0),
 ('Mikhail Goncalves', 0),
 ('Abdullah Vieira', 0),
 ('Patricia Queiroz', 0),
 ('Ilya Ueno', 0),
 ('Parvati Barros', 0),
 ('Javier Nogueira', 0),
 ('Yusef Barros', 0),
 ('Genghis Nogueira', 0),
 ('Beatriz Mendes', 0),
 ('Katarina Correia', 0),
 ('Fabiana Hidalgo', 0),
 ('Fatemeh Pereira', 0),
 ('Fadhila Henriquez', 0),
 ('Chen Correia', 0),
 ('Tatjana Inácio', 0),
 ('Khaled Iglesias', 0),
 ('Zoya Iglesias', 0),
 ('Fatemeh Cruz', 0),
 ('Yuri Zhang', 0),
 ('Lakshmi Petrov', 0),
 ('Wang Fernandes', 0),
 ('Dmitri Zapata', 0),
 ('Mina Teixeira', 0),
 ('Hanako Etxebarria', 0),
 ('Qiu Yamamoto', 0),
 ('Gustavo Queiroz', 0),
 ('Quintus Dutta', 0),
 ('Zoya Bianchi', 0),
 ('Sakura Santana', 0),
 ('Chidike Xu', 0),
 ('Salim Sousa', 0),
 ('Fadhila Kumar', 0),
 ('Wan Xu', 0),
 ('Nina Velez', 0),
 ('Ilya Yamamoto', 0),
 ('Javier Carvalho', 0),
 ('Oscar Iglesias', 0),
 ('Wang Lopez', 0),
 ('Patricia Esteves', 0),
 ('Javier Esteves', 0),
 ('Tatjana Xu', 0),
 ('Hanako Quintana', 0),
 ('Emiko Hernandez', 0),
 ('Qiu Duarte', 0),
 ('Xin Etxebarria', 0),
 ('Emiko Henriquez', 0),
 ('Akira Qian', 0),
 ('Han Santos', 0),
 ('Zafar Esteves', 0),
 ('Katarina Henriquez', 0),
 ('Beatriz Sousa', 0),
 ('Zara Ueno', 0),
 ('Chiyoko Uchoa', 0),
 ('Genghis Qian', 0),
 ('Yusef Abadi', 0),
 ('Zafar Kawaguchi', 0),
 ('Nadia Teixeira', 0),
 ('Aarav Hidalgo', 0),
 ('Patricia Borges', 0),
 ('Kamala Gao', 0),
 ('Wan Santos', 0),
 ('Wan Gao', 0),
 ('Umberto Gomes', 0),
 ('Yusef Qian', 0),
 ('Fatemeh Zhang', 0),
 ('Wilhelmina Duarte', 0),
 ('Genghis Rocha', 0),
 ('Wilhelmina Urbina', 0),
 ('Tatiana Gomes', 0),
 ('Yasmin Rodriguez', 0),
 ('Hiroko Martinez', 0),
 ('Yasmin Ortega', 0),
 ('Darius Ueno', 0),
 ('Lakshmi Montenegro', 0),
 ('Irina Lopes', 0),
 ('Chen Quintana', 0),
 ('Fadhila Iglesias', 0),
 ('Valentina Olivares', 0),
 ('Jin Rocha', 0),
 ('Umar Quintana', 0),
 ('Theresa Rodriguez', 0),
 ('Emiko Urbina', 0),
 ('Bianca Etxebarria', 0)]